src/.env
.env
.env.backup
.env.testing

node_modules/
src/node_modules/
vendor/
src/vendor/

.phpunit.result.cache
/public/hot
/public/storage
/public/storage
/storage/*.key

/.idea
/.vscode

docker-compose.override.yml

npm-debug.log
yarn-error.log

storage/*
storage/app/public/
storage/framework/
storage/logs/
storage/*.key
!storage/.gitignore
!storage/app/.gitignore
!storage/framework/.gitignore
!storage/logs/.gitignore

database/migrations/backup/
